.main-container {
  width: 50%;
  position: relative;
}

.box {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.main-inner {
  width: 50%;
  margin: 0 auto;
}

.main-text {
  text-align: center;
  color: #2d334a;
}

.move-btn {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fffdf9;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
