.register-form {
  width: 50%;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #fffdf9;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.register-wrapper {
  width: 100%;
}

.input-form-inner {
  width: 80%;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  margin: 5px auto;
  padding: 10px 5px 10px 5px;
  outline: none;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
}

.register-btn {
  width: 100%;
  margin: 5px auto;
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.error {
  margin: 0;
  padding: 0;
  color: red;
}
