html {
  font-family: 'M PLUS 1p';
}

body {
  margin: 0px;
  background-color: #eeee;
}

header {
  background-color: #8ac6d1;
  margin: auto 0px;
  padding: 10px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fffdf9;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #bfe8f0;
}

.main-container {
  width: 50%;
  position: relative;
}

.box {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.box-inner {
  width: 50%;
  margin: 0 auto;
}

.main-text {
  text-align: center;
  color: #2d334a;
}

.move-btn {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.todo-form {
  width: 50%;
  margin: 30px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  display: flex;
}

.todo-input {
  width: 80%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #2d334a;
}

.todo-btn {
  width: 50px;
  height: 50px;
  margin: 0 0 0 auto;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  background-color: #8ac6d1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  outline: none;
}

.massage {
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
  color: #8ac6d1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.todolist-wrapper {
  width: 100%;
  margin: 10px auto;
}

.todolist-container {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px #ccc;
  display: flex;
}

.todo-name {
  width: 80%;
  font-size: 20px;
  color: #2d334a;
}

.delete-btn {
  width: 50px;
  margin: 0 0 0 auto;
  border-radius: 10%;
  font-size: 10px;
  color: #fff;
  background-color: #ffa259;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  outline: none;
}

.auth-form {
  width: 50%;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.auth-form-inner {
  text-align: center;
}

.auth-input {
  width: 80%;
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  outline: none;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-radius: 5px;
  font-size: 20px;
}

.auth-btn {
  width: 81%;
  margin: 10px 0;
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

svg {
  position: relative;
  width: 30px;
  height: 30px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 3;
  stroke: #00a1ff;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 410;
  }
  100% {
    stroke-dashoffset: 380;
  }
}
