html {
  font-family: 'M PLUS 1p';
}

body {
  margin: 0px;
  background-color: rgba(45, 97, 135, 1);
  min-width: 500px;
  overscroll-behavior-y: none;
}

#root {
  position: relative;
}

#modal-root {
  position: relative;
}
