.todo-form {
  width: 50%;
  margin: 10px auto 30px auto;
  padding: 10px;
  background-color: #fffdf9;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  display: flex;
}

.todo-form-inner {
  width: 100%;
  margin: 0 auto;
}

.character {
  width: 100%;
  margin: 0 0 0 5px;
}

.todo-input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #2d334a;
}

.todo-btn {
  width: 50px;
  height: 50px;
  margin: 0 0 0 auto;
  border-radius: 50%;
  font-size: 30px;
  color: #fffdf9;
  background-color: #8ac6d1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  outline: none;
}
