header {
  background-color: #8ac6d1;
  /* margin: auto 0px; */
  padding: 0 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header-container {
  width: 100%;
  display: flex;
}

.header-inner {
  width: 20%;
  margin: 0 0 auto 0;
}

header h1 {
  color: #fffdf9;
}

.header-btn-box {
  width: 50%;
  margin: 0 0 0 auto;
  display: flex;
}

.header-btn-container {
  width: 100%;
  margin: 0 0 0 auto;
  padding: 15px 5px;
  display: flex;
}
.deleteaccount-move-btn {
  width: 20%;
  margin: 0 0 0 auto;
  font-size: 15px;
  color: #2d334a;
  border-radius: 5px;
  background-color: #fffdf9;
  cursor: pointer;
}

.logout-btn {
  width: 20%;
  margin: 0 0 0 10px;
  font-size: 15px;
  color: #2d334a;
  border-radius: 5px;
  background-color: #fffdf9;
  cursor: pointer;
}
