.login-form {
  width: 50%;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #fffdf9;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.login-form-inner {
  width: 80%;
  margin: 0 auto;
}

.login-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  outline: none;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  background-color: #fffdf9;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
